spring: # dev 환경
  config:
    activate:
      on-profile: dev
    import: optional:file:.env.dev[.properties]
  security:
    oauth2:
      client:
        registration:
          kakao:
            client-id: ${KAKAO_CLIENT_ID}
            client-secret: ${KAKAO_CLIENT_SECRET}
            client-authentication-method: client_secret_post
            redirect-uri: ${KAKAO_REDIRECT_URL}
            authorization-grant-type: authorization_code
            scope: profile_nickname, profile_image, account_email
        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id
  docker:
    compose:
      enabled: true
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password: password
  sql:
    init:
      mode: always   # 임베디드 db 첫 실행시로 변경 원하면 embedded로 변경
      schema-locations: classpath:schema.sql
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: none  # ← H2 자동 생성
    properties:
      hibernate:
        show-sql: true
        format_sql: true
        highlight_sql: true
      defer-datasource-initialization: true    # JPA 초기화 후 schema.sql 실행
  h2:
    console:
      enabled: true
      settings:
        web-allow-others: true
      path: /h2-console
  data:
    redis:
      host: redis
      port: 6379
      password: ${SPRING_DATA_REDIS_PASSWORD}
logging:
  level:
    org.springframework.jdbc.datasource.init: DEBUG
    org.springframework.security: DEBUG
    org.springframework.security.oauth2: DEBUG
    org.springframework.web.client.RestTemplate: DEBUG

jwt:
  secret: ${JWT_SECRET}
  access-token-expiration: ${JWT_ACCESS_TOKEN_EXPIRATION}
  refresh-token-expiration: ${JWT_REFRESH_TOKEN_EXPIRATION}

app:
  frontend-url: http://localhost:5173

---

spring: # prod 환경
  config:
    activate:
      on-profile: prod
    import: optional:file:.env.prod[.properties]
  autoconfigure:
    exclude: [ ]
  docker:
    compose:
      enabled: true
  sql:
    init:
      mode: never   # prod 환경에서 자동 sql 초기화 기능 off
  datasource:
    url: ${MYSQL_URL}
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ${MYSQL_USER}
    password: ${MYSQL_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: validate  # prod 환경에서는 테이블 자동 수정을 막기 위해 validate 설정
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
  h2:
    console:
      enabled: false

logging:
  level:
    org.springframework.jdbc.datasource.init: INFO

app:
  frontend-url: http://localhost:5173